<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd">

	<bean id="children4" class="com.ali.beanmodule.Children" init-method="initParams" destroy-method="destroyPro">
		<property name="firstName" value="Marry"></property>
		<property name="gender" value="M"></property>
		<property name="age" value="4"></property>
	</bean>

	<!-- 
		基于setter的属性注入方式,bean中必须要有set方法,必须要有一个无参的构造器
	 -->
	<bean id="children1" class="com.ali.beanmodule.Children">
		<property name="firstName" value="Tom"></property>
		<property name="gender" value="M"></property>
		<property name="age" value="3"></property>
	</bean>
	
	<!--  
		基于构造器的注入方式
	-->
	<bean id="children2" class="com.ali.beanmodule.Children">
		<constructor-arg value="Tim"></constructor-arg>
		<constructor-arg value="W"></constructor-arg>
		<constructor-arg value="5"></constructor-arg>
	</bean>
	
	<!--  
		bean之间的继承关系, 用parent属性来表示
		p:表示命名空间,等同于property,使用前需引入
	-->
	<bean id="children3" parent="children1" p:age="4" scope="prototype">
	</bean>

	<bean id="myTestBean" class="com.ali.beanmodule.PersonBean">
		<property name="lastName" value="Tom"></property>
		<property name="age" value="21"></property>
		<property name="salary" value="24900.2"></property>
	</bean>
	
	
	<!-- 
		bean中 包含集合类型的属性注入方式
	 -->
	<bean id="myTestBean2" class="com.ali.beanmodule.PersonBean">
		<constructor-arg value="Jake" ></constructor-arg>
		<constructor-arg value="Michael" ></constructor-arg>
		<constructor-arg value="23"></constructor-arg>
		<constructor-arg value="23567"></constructor-arg>
		<constructor-arg>
			<list>
				<ref bean="children1"/>
				<ref bean="children2"/>
				<ref bean="children3"/>
			</list>
		</constructor-arg>
	</bean>

	<!-- 
		引入外部资源文件
	 -->
	<context:property-placeholder location="classpath:db-pro.properties"/>
	
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
		<property name="user" value="${user}"></property>
		<property name="password" value="${password}"></property>
		<property name="driverClass" value="${driverclass}"></property>
		<property name="jdbcUrl" value="${jdbcurl}"></property>
	</bean>
	
</beans>
